# Виртуальное окружение
.venv/
venv/
env/

# Модели и веса
models/
*.pt
*.pth

# Данные
data/
*.csv

# Результаты
results/
*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python

# IDE
.vscode/
.idea/
*.swp



# OS
.DS_Store
Thumbs.db